#libdnf {
    overflow: auto;
    color: #51a2da;
    border: 7px solid #51a2da;
    border-radius: 25px;
    float: left;
    margin: 25px;
}

#hawkey {
    margin: 25px;
    color: #e59728;
    border: 7px solid #e59728;
    border-radius: 25px;
}
#python-hawkey {
    margin: 25px;
    color: #e59728;
    border: 7px solid #e59728;
    border-radius: 25px;
}

#libhif {
    margin: 25px;
    height: 100%;
    color: #e59728;
    border: 7px solid #e59728;
    border-radius: 25px;
}

#dnf {
    margin: 25px 25px 0px 50px;
    width: 200px;
    color: #a07cbc;
    border: 7px solid #a07cbc;
    border-radius: 25px;
    position: absolute;
    left: 20px;
}

#plugins-dnf {
    position:absolute;
    left: -100px;
}

#dnf5-intro {
    position: absolute;
    top: 0px;
    left: -100px;
    display: block;
    background-color: white;
    padding: 200px 450px 300px 450px;
    border: 20px solid white;
}

#microdnf {
    position: absolute;
    left: 325px;
    margin: 25px;
    width: 200px;
    color: #a07cbc;
    border: 7px solid #a07cbc;
    border-radius: 25px;
}
#packagekit {
    position: absolute;
    left: 600px;
    margin: 25px 0px 0px 25px;
    width: 220px;
    color: #a07cbc;
    border: 7px solid #a07cbc;
    border-radius: 25px;
}

.plugins {
    margin: 25px;
    padding: 15px;
    color: #79db32;
    border: 4px solid #79db32;
    border-radius: 25px;
    font-size: 20px;
}
#plugins-libhif {
    position: absolute;
    top: 205px;
    left: 800px;
}

#hawkey {
    position:relative;
}

.clearfix {
    overflow: auto;
    clear: both;
}
