.dnf-term-div {
    border-right: 3px solid;
    border-image:
        linear-gradient(
            to bottom, 
            transparent 10%, 
            #126a8f 40%, 
            transparent 100%
        ) 1 100%;
}

.big-term {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.reveal pre code {
    max-height: 500px !important;
}